<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heroku Sample App</title>
</head>
<body>

<h1>This is a Heroku Sample App</h1>

<ul>
    <li>
        <a href="/api/hello">Hello</a> - Click here to open a sample API endpoint.
    </li>
    <li>
        <a href="/api/insert?word=example">Add word "example"</a> - API endpoint to add words. If you click here you will add the word "example".
    </li>
    <li>
        <a href="/api/list">List of added words</a> - API endpoint that returns a list of all added words.
    </li>
</ul>


</body>
</html>